<p-dialog header="Create announcement" [visible]="true" [style]="{width: '50vw'}">
    <br>
    <form [formGroup]="form" (ngSubmit)="handleSubmitForm()">

        <div *ngIf="isUserInfoVisible">
            Please answer some questions about yourself to help potential roommates know some things about you.
            <br><br>
            What is your age? <input type="number" min="15" class="p-inputtext-sm" style="width:50px;"
                formControlName="hasAge">
            <br><br>

            City <p-dropdown [options]="cities" formControlName="city" optionLabel="name" optionValue="name"
            class="p-inputtext-sm" placeholder="Select a city"></p-dropdown>
            <br><br>
            
            Are you smoking?
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="isSmoker"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="isSmoker"></p-radioButton>
            <br><br>

            Do you have pets?
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="hasPets"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="hasPets"></p-radioButton>
            <br><br>

            Are you currently working?
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="isWorking"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="isWorking"></p-radioButton>
            <br><br>

            Do you consider yourself an organized person?
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="isOrganized"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="isOrganized"></p-radioButton>
            <br><br>

            Do you consider yourself a responsible person?
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="isResponsible"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="isResponsible"></p-radioButton>
            <br><br>

            Are you a communicative person?
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="isCommunicative"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="isCommunicative"></p-radioButton>
            <br><br>

            Are you a patient person?
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="isPatient"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="isPatient"></p-radioButton>
            <br><br>

            Are you a friendly person?
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="isFriendly"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="isFriendly"></p-radioButton>
            <br><br>

            Do you like parties?
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="likesParties"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="likesParties"></p-radioButton>
            <br><br>

            Do you usually throw parties in hour house?
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="hasHomeParties"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="hasHomeParties"></p-radioButton>
            <br><br>

            Do you usually have guests over?
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="hasGuests"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="hasGuests"></p-radioButton>
            <br><br>

            Do you want to become friends with your roommate or you just want someone to share an apartment with?
            <br><br>
            <p-radioButton  [value]=false label="No, I don't want us to become friends"
                formControlName="isLookingForAFriend"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes, I want us to become friends"
                formControlName="isLookingForAFriend"></p-radioButton>
            <br><br>

            Do you have an apartment already or do you want to look for one with your next roommate?
            <br>
            <p-radioButton  [value]=false label="No, I don't have an apartment"
                formControlName="hasApartment"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes, I have an apartment"
                formControlName="hasApartment"></p-radioButton>
            <br><br>
            <textarea style="width:45vw; height: 200px;" formControlName="description" pInputTextarea></textarea>
            <br><br>
            <button pButton pRipple type="button" (click)="openRoommatePreferencesForm()" label="Next"
                class="p-button-sm p-button-raised" style="float:right;"></button>
            <br>
        </div>
        <div *ngIf="isRoommatePreferencesFormVisible">
            Now tell us about what you are looking for in a roommate.
            Please check YES if you would accept the following things about your roommate, otherwise check NO.
            <br><br>

            <!-- Would you be ok with your roommate smoking? -->
            IS SMOKING
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="acceptSmoker"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="acceptSmoker"></p-radioButton>
            <br><br>

            <!-- Would you accept a roommate with pets? -->
            HAS PETS
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="acceptPets"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="acceptPets"></p-radioButton>
            <br><br>

            <!-- Would you accept a roommate who is not working? -->
            IS NOT WORKING
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="acceptNotWorking"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="acceptNotWorking"></p-radioButton>
            <br><br>

            <!-- Would you accept a roommate who is not so organized? -->
            IS NOT ORGANIZED
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="acceptUnorganized">
            </p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="acceptUnorganized">
            </p-radioButton>
            <br><br>

            <!-- Would you accept a roommate who likes to party? -->
            LIKES TO PARTY
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="acceptPartyingRoommate">
            </p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="acceptPartyingRoommate">
            </p-radioButton>
            <br><br>

            <!-- Would you accept an uncommunicative roommate? -->
            IS UNCOMMUNICATIVE
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="acceptUncommunicative">
            </p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="acceptUncommunicative">
            </p-radioButton>
            <br><br>

            <!-- Would you accept an unpatient roommate? -->
            IS UNPATIENT
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="acceptNotPatient"></p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="acceptNotPatient"></p-radioButton>
            <br><br>

            <!-- Would you accept a roommate who is not friendly? -->
            IS NOT FRIENDLY
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="acceptNotFriendly">
            </p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="acceptNotFriendly">
            </p-radioButton>
            <br><br>

            <!-- Would you accept a roommate who is not responsible? -->
            IS NOT RESPONSIBLE
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="acceptNotResponsible">
            </p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="acceptNotResponsible">
            </p-radioButton>
            <br><br>

            <!-- Would you accept a roommate who throws parties at home? -->
            THROWS HOME PARTIES
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="acceptHomeParties">
            </p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="acceptHomeParties">
            </p-radioButton>
            <br><br>

            HAS GUESTS
            &nbsp;
            <p-radioButton  [value]=false label="No" formControlName="acceptGuests">
            </p-radioButton>
            &nbsp;
            <p-radioButton  [value]=true label="Yes" formControlName="acceptGuests">
            </p-radioButton>
            <br><br>

            GENDER
            &nbsp;
            <p-radioButton  value='ANY' label="Any" formControlName="roommateGenderPreference">
            </p-radioButton>
            &nbsp;
            <p-radioButton  value='FEMALE' label="Female" formControlName="roommateGenderPreference">
            </p-radioButton>
            &nbsp;
            <p-radioButton  value='MALE' label="Male" formControlName="roommateGenderPreference">
            </p-radioButton>
            <br><br>


            Select minimum and maximum age preffered
             &nbsp;
            {{form.value.roommateMinAgePreference < form.value.roommateMaxAgePreference ? "Min" : "Max" }} <input
                type="number" min="15" max="60" class="p-inputtext-sm" style="width:50px;"
                formControlName="roommateMinAgePreference">
            &nbsp;
            {{form.value.roommateMinAgePreference > form.value.roommateMaxAgePreference ? "Min" : "Max" }} <input
                type="number" min="15" max="60" class="p-inputtext-sm" style="width:50px;"
                formControlName="roommateMaxAgePreference">
            <br><br>


                <br>
                <div class="buttons">
                    <button pButton pRipple type="button" (click)="openUserInfoForm()" label="Back"
                        class="p-button-sm p-button-raised"></button>
                    &nbsp;
                    <button pButton pRipple type="submit" label="Finish"
                        class="p-button-sm p-button-raised"></button>
                </div>
                <br>

        </div>



    </form>
</p-dialog>