.profile-photo {
    height: 10em;
    margin-top: 60px;
    margin-left: 10px;
}

.info {
    
    width:fit-content;
    color: rgb(33,150,243);
    margin-top:-11.2em;
    margin-left: 12em;
    white-space: pre-wrap;
    text-align: center;
    text-align: left;
}


.buttons {
   position: relative;
   margin-top: 3em;
   margin-left: 10px;
}

.description {
    float: right;
    margin-left: 25em;
    margin-top: -10em;
    width: 60em;
    height: 10em;
}

.filters {
    display: inline;
}

.more-info {
    margin-left: 10px;
    color: rgb(33,150,243);
}

.smoking{
    white-space: nowrap;
    overflow-x: auto;
}