<form [formGroup]="resetPasswordForm!" (ngSubmit)="handleSubmitForm()" class="center">
    <h1>Reset password</h1>

    <input pInputText  type="password" placeholder="Password" id="password" formControlName="password" />

    <br /><br />
    <input pInputText  type="password" placeholder="Confirm password" id="confirmPassword" formControlName="confirmPassword" />

    <br /><br />
    <button pButton pRipple type="submit" label="Reset password" class="p-button-sm p-button-raised "></button>
</form>