.profile-photo {
    height: 10em;
    margin-top: 60px;
    margin-left: 10px;
}

.post-box {
    border: 1px solid rgb(217, 217, 217);
    height: 20em;
    display: block;
    width: 94em;
}

.post-box:hover {
    background-color: rgb(238, 238, 238);
}

.page {
    background-color: red;
}

.info {
    
    /* max-width: 300px; */
    width:fit-content;
    color: rgb(33,150,243);
    margin-top:-11.2em;
    margin-left: 12em;
    /* background-color: rgb(223, 239, 252); */
    /* display: inline-flex; */
    white-space: pre-wrap;
    text-align: center;
    text-align: left;
}


.buttons {
   position: relative;
   margin-top: 3em;
   margin-left: 10px;
}

.description {
    float: right;
    margin-left: 25em;
    margin-top: -10em;
    width: 60em;
    height: 10em;
}

.filters {
    display: inline;
}

.match {
    float: right; 
    margin-right: 20px;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: -30px;
}