.property-photo {
    height: 10em;
    margin-top: 10px;
    margin-left: 10px;
}

.post-box {
    border: 1px solid rgb(217, 217, 217);
    height: 20em;
    display: block;
    border-radius: 4px;
    width: 78em;
    margin-left: 7em;
}

.post-box:hover {
    background-color: rgb(217, 228, 243);
}

.post-title {
    position: relative;
    margin-left: 8em;
    margin-top: -5em;
    color: rgb(57, 128, 200);
}

.location {
    position: relative;
    margin-left: 13.5em;
    top: -0.8em;
    color: rgb(57, 128, 200);
}

.info {
    
    /* max-width: 300px; */
    width:fit-content;
    color: rgb(57, 128, 200);
    margin-left: 260px;
    background-color: rgb(230, 238, 247);
    display: inline-flex;
    white-space: pre-wrap;
}

.post-info {
    width: 10em;
    margin-top: 3em;
    margin-left: 0.8em;
    color: rgb(57, 128, 200);

}

.price {
    margin-left: 0.5em;
    font-style: bold;
    color: rgb(57, 128, 200);

}

.buttons {
    float: right;
    margin: 3em;
    margin-top: -4em;
}

.top-filters {
    margin-left: 7em;
}