<div>
    <div>
        <ng-container *ngIf="!user.profilePhoto" >
            <img src="https://i.pinimg.com/originals/38/73/8a/38738a636a8845b569b2388a505a51d6.png" />
        </ng-container>
        <ng-container *ngIf="user.profilePhoto" >
            <img src="{'data:image/png;base64', + user.profilePhoto}" />
        </ng-container>
        <br>
    	<button pButton pRipple type="button" (click)="openFileUploadDialog()" label="Upload" icon="pi pi-upload" class="p-button-primary"></button>


    </div>


    <div>
        <p>Username: {{user.username}}</p>
        <p>First name: {{user.firstName}}</p>
        <p>Last name: {{user.lastName}}</p>
    </div>
</div>

<p-dialog header="Upload profile picture" [(visible)]="isOpenPhotoUploadDialog" >
    <app-upload-profile-picture (onUploadImage)="uploadImage($event)" >

    </app-upload-profile-picture>
</p-dialog>