img {
    height: 20em;
    margin-top: 10px;
    margin-left: 10px;
    display:inline-block;
    position:relative;
    border:1px solid #ccc;
    padding:5px;
    background:#f2f2f2;
}

.user-profile-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 3vw;
    background-color: rgb(229, 236, 240);
    
}

.upload-image-button {
    position: relative;
    top: -3vw;
    left: 18.8vw;
}

.user-details {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -2vw;
}

