<div class="user-profile-page">
    <br><br>
    <div class="profile-photo">
        <ng-container *ngIf="!user.profilePhoto">
            <img src="https://i.pinimg.com/originals/38/73/8a/38738a636a8845b569b2388a505a51d6.png" />
        </ng-container>
        <ng-container class="profile-photo" *ngIf="user.profilePhoto">
            <img src="{{src}}" />
        </ng-container>
        <div class="upload-image-button">
            <button pButton pRipple type="button" title="Change profile photo" (click)="openFileUploadDialog()"
                icon="pi pi-upload" class="p-button-raised p-button-rounded "></button>
        </div>
    </div>
    <div class="user-details">
        <p>{{user.firstName}} {{user.lastName}}</p>
        <p>Username: {{user.username}}</p>
    </div>
    <div>
        <button pButton pRipple type="button" label="My properties" [routerLink]="['', 'my-properties']" class="p-button-raised p-button-primary"></button>
        &nbsp;
        <button *ngIf="user.roommatePost" pButton pRipple type="button" label="My post" [routerLink]="['', 'roommate-post-details', user.username]" class="p-button-raised p-button-primary"></button>
    </div>
    <br><br>
</div>


<p-dialog header="Upload profile picture" [(visible)]="isOpenPhotoUploadDialog" class="upload-image-button">
    <app-upload-profile-picture (onUploadImage)="uploadImage($event)">
    </app-upload-profile-picture>
</p-dialog>
